@model List<Payment>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">

<style>
    body {
        background-color: #f4f6f8;
    }

    .content-box {
        border-radius: 24px;    
    }

    .total-price {
        font-size: 16px;
        font-weight: bold;
    }

    .order__title {
        font-family: "Reddit Mono", monospace;
        font-size: 16px;
    }

    .radio-button {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
    }

        .radio-button input[type="radio"] {
            display: none; /* Giấu nút radio */
        }

        .radio-button label {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 12px 5px;
            border: 1px solid #dbdbdb; /* CSS mặc định */
            transition: border-color 0.3s ease;
            border-radius: 8px;
        }

            .radio-button label:hover {
                border-color: #ccc; /* CSS khi hover */
            }

        .radio-button input[type="radio"]:checked + label {
            background-color: #FFF5EE; /*CSS khi check vào nút*/
            border: 1px solid #f5821f;
        }

        .radio-button img {
            width: 40px; /* CSS hình của radio */
            height: 40px;
            margin-right: 10px;
        }

    .btn__xac-nhan {
        background-color: #f5821f; /* CSS nút Submit*/
        color: white;
    }

    .btn__xac-nhan:hover {
        color: white;
        opacity: 0.5;
    }

    .paymentType__header {
        margin-left: 24px;
        margin-top: 12px;
        color: #f5821f;
        font-size: 14px;
    }

    .list-payment-type {
        /* margin-left: 18px; */
        padding: 0 22px;
    }


    #countdownContainer {
        display: flex;
        margin: 12px;
    }

    .countdownBox {
        background-color: #f5821f;
        color: white;
        margin: 0 2px;
        padding: 5px;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
        font-size: 18px;
        width: 40px;
        text-align: center;
    }


</style>

<hr />

<h3>Thông tin thanh toán</h3>

<div id="countdownContainer">
    <div class="countdownBox" id="hoursBox">00</div>
    <div class="countdownBox" id="minutesBox">00</div>
    <div class="countdownBox" id="secondsBox">00</div>
</div>

<form asp-action="SubmitThanhToan" method="post">
    <div class="container">
        <div class="row">
            <div class="col-8">

                <div class="content-box p-4 bg-white">

                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="order__header">Thông tin đơn hàng</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p class="order__title required-field">Tên người dùng</p>
                            </div>
                            <div class="col-5">
                                <input type="text" class="float-end form-control" placeholder="Nhập tên" name="userName" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p class="order__title">Mã sản phẩm</p>
                            </div>
                            <div class="col-5">
                                <p class="float-end"><span>EV00001</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p class="order__title">Nhà cung cấp</p>
                            </div>
                            <div class="col-5">
                                <p class="float-end"><span>Én Việt</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <p class="order__title">Tên sản phẩm</p>
                            </div>
                            <div class="col-5">
                                <p class="float-end"><span>Yến Sào</span></p>
                            </div>
                        </div>
                    </section>

                    <br />

                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="order__header">Phương thức thanh toán</h5>
                            </div>
                        </div>
                        <br />

                        <div class="row g-1">

                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-4">
                                        <div class="radio-button">
                                            <input type="radio" id="@item.Name" data-id="@item.Id" value="@item.Name" name="paymentType" />
                                            <label style="width:100%" for="@item.Name">
                                                <img src="@item.Image" alt="@item.Name" />
                                                <span class="payment-name">Thanh toán qua @item.Name </span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </section>

                </div>

                <div class="paymentType">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="paymentType__header">Loại thanh toán</h5>
                        </div>
                    </div>

                    <section class="list-payment-type">

                        <div class="row g-1 list-payment-type-item">

                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    if (item.PaymentFees.Count > 0)
                                    {
                                        var requestType = item.PaymentFees.Where(x => x.PaymentId == item.Id && x.IsActived).ToList();

                                        foreach (var request in requestType)
                                        {
                                            <div class="col-4" data-id="@item.Id">
                                                <div class="radio-button">
                                                    <input type="radio" id="@request.RequestType" data-id="requestType" value="@request.RequestType" data-value="@request.Percent" name="requestType" />
                                                    <label style="width:100%" for="@request.RequestType">
                                                        <img src="@request.Image" alt="@request.RequestType" />
                                                        <span class="payment-name">Thanh toán qua @request.Name</span>
                                                    </label>
                                                </div>
                                            </div>

                                        }
                                    }
                                }
                            }

                        </div>

                    </section>

                </div>

            </div>

            <div class="col-4">
                <div class="content-box p-4 bg-white">

                    <div class="row">
                        <div class="col-6">
                            @if (!string.IsNullOrEmpty(ViewBag.VNDtoUSD))
                            {
                                <p style="font-size:14px;">Giá USD hôm nay:<span class="text-danger"> @ViewBag.VNDtoUSD </span> </p>
                            }
                        </div>
                        <div class="col-6">

                            <p id="showRates" style="cursor:pointer; font-size:14px; float:right; color:#2aabe2;">Xem tỷ lệ quy đổi ngoại tệ</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <h5>Số tiền thanh toán</h5>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-7">
                            <p class="order__title">Tạm tính</p>
                        </div>
                        <div class="col-5">
                            <p class="float-end"><span class="SubTotal">100000</span> đ</p>
                            <input type="text" hidden name="Money" class="SubTotalValue" value="100000" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-7">
                            <p data-id="requestType" class="order__title">Phí (0)</p>
                        </div>
                        <div class="col-5">
                            <p class="float-end"><span class="FeeDependOnSth">0</span> đ</p>
                        </div>
                    </div>



                    <hr />
                    <div class="row">
                        <div class="col-7">
                            <p class="total-price">TỔNG PHÍ THANH TOÁN</p>
                        </div>
                        <div class="col-5">
                            <p class="float-end"><span class="TotalPay">100000</span> đ</p>
                            <input type="text" hidden class="TotalPayInput" name="TotalPay" value="100000" />

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn__xac-nhan p-2 mt-4" id="btn-submit" style="width: 100%">Xác nhận</button>
            </div>

            <!-- Định nghĩa modal -->
            <div class="modal fade" id="ratesModal" tabindex="-1" role="dialog" aria-labelledby="ratesModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width:50%;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="ratesModalLabel">Được cung cấp bởi Vietcombank</h6> <br />
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Định nghĩa div chứa nội dung của PartialView -->
                            <div id="partialViewContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var message = '@Html.Raw(TempData["ErrorMessage"])';
            Swal.fire({
                title: "Lỗi!",
                text: message,
                icon: "error",
                button: "OK",
            });
        };
    </script>
}

<script>

    // Hàm format số thành dạng xxx,xxx
    function formatNumber(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }


    $(document).ready(function () {

        // $('.SubTotal').text(formatNumber($('.SubTotal').text()));
        $('.FeeDependOnSth').text(formatNumber($('.FeeDependOnSth').text()));
        $('.SubTotal').text(formatNumber(parseFloat($('.SubTotal').text())));
        $('.TotalPay').text(formatNumber(parseFloat($('.TotalPay').text())));

        // Check radio
        $('div.list-payment-type-item > div').hide()
        $('.paymentType__header').hide()

        $('input[name="paymentType"]').on('click', function () {
            var id = $(this).data('id');
            $('.paymentType__header').show()
            $('div.list-payment-type-item > div').hide(); // ẩn tất cả các phần tử
            $('div.list-payment-type-item > div[data-id="' + id + '"]').show(); // hiển thị phần tử tương ứng
        });

        $('input[name="requestType"]').on('click', function () {
            // Lấy giá trị %
            var percent = $(this).data('value');
            percent = percent * 100;
            $('p[data-id="requestType"]').text('Phí (' + percent + ' %)');


            // Tính tiền tạm tính
            var subtotal = $('.SubTotalValue').val();
            var fee = subtotal * percent / 100;

            // Format và cập nhật số tiền phí
            $('.FeeDependOnSth').text(formatNumber(fee));


            //Tính tổng tiền
            var totalPay = parseFloat(subtotal) + fee; 


            // Format và cập nhật tổng số tiền
            $('.TotalPay').text(formatNumber(totalPay));
            $('.TotalPayInput').val(totalPay);
        });


        // Mở popup
        $("#showRates").click(function () {
            $.get("/Home/Partial_NgoaiTe", function (data) {
                $("#partialViewContainer").html(data);
                // Mở modal
                $("#ratesModal").modal('show');
            });
        });

        // Disable button on submit
        $('form').submit(function () {
            $('#btn-submit').prop('disabled', true); 
            $('#btn-submit').prop('cursor', 'no-drop');

        });

    });

    // Đếm ngược
    var countDownTime = 5 * 60; // 5 phút
    var hoursBox = document.getElementById('hoursBox');
    var minutesBox = document.getElementById('minutesBox');
    var secondsBox = document.getElementById('secondsBox');

    var countDownTimer = setInterval(function () {
        var hours = Math.floor(countDownTime / 3600);
        var minutes = Math.floor((countDownTime % 3600) / 60);
        var seconds = countDownTime % 60;

        // Định dạng thời gian hiển thị HH:mm:ss
        hoursBox.textContent = ('0' + hours).slice(-2);
        minutesBox.textContent = ('0' + minutes).slice(-2);
        secondsBox.textContent = ('0' + seconds).slice(-2);

        countDownTime--;

        if (countDownTime < 0) {
            clearInterval(countDownTimer);
            window.location.href = '@Url.Action("Index", "Home")';
        }
    }, 1000);

    window.onbeforeunload = function () {
        clearInterval(countDownTimer);
    };



    // Cắt chuỗi
    var paymentNames = document.getElementsByClassName("payment-name");
    for (var i = 0; i < paymentNames.length; i++) {
        var text = paymentNames[i].innerText;
        if (text.length > 23) {
            var newText = text.substring(0, 23) + "..."
            paymentNames[i].innerText = newText
        }
    }

   


</script>
